.gitignore
/.DS_Store
assets/.DS_Store
assets/images/.DS_Store
1-portfolio_website/assets/.DS_Store
2-resume/.DS_Store
2-resume/assets/.DS_Store
3-motivational-poster/.DS_Store
3-motivational-poster/assests/images/.DS_Store
7-TinDog/.DS_Store
7-TinDog/assets/images/.DS_Store
7-TinDog/assets/css/.DS_Store
8-dice-game/.DS_Store
8-dice-game/assets/.DS_Store
10-simon-game/.DS_Store
10-simon-game/assets/.DS_Store
