@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=MuseoModerno&display=swap');

:root {
    --primary: #fd4f6c;
    --secundary: #ef8172;
    --ptext: #8f8f8f;
}

* { 
    font-family: 'Montserrat-Light', sans-serif; 
    text-align: center;
}

p { color: #8f8f8f; }
.container-fluid { padding: 6%12%; }
.download-button { margin: 5% 3% 5% 0; }

/* HEADINGS */

h1, h2, h3, h4, h5 { 
    font-family: 'Montserrat-Bold', sans-serif; 
    line-height: 1.5;
}

h2 { font-size: 2.5rem; }
h3 {  font-size: 1.5rem;  }

.big-heading {
    font-family: 'Montserrat-Black', sans-serif; 
    line-height: 1.5;
    font-size: 3.3rem;
    color: white;
}

/* LANDING PAGE */

/* Navigation Bar */

.navbar-brand {
    font-family: 'MuseoModerno', cursive;
    font-size: 2rem;
}

.navbar {padding: 0 0 4.5rem; }
.nav-item { padding: 0 18px; }
.nav-link { font-size: 1.2rem; }

/* Main Page */

#title { background-color: var(--primary); }
#title h1 {text-align: left;}

.title-image {
transform: rotate(25deg);
width: 60%;
position: absolute;
right: 20%;
} 

/* FEATURES */

#features { 
    background-color: white;
    position: relative;
}

#features i { 
    color: var(--secundary);
    margin-bottom: 1.5rem;
}
#features i:hover { color: var(--primary);}

.feature-box {
    padding: 4.5%;
}

/* TESTIMONIALS */

#testimonials { 
    background-color: var(--secundary);
    color: white;
}

#testimonials img {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

/* PRESS */

#press {
    background-color: var(--secundary);
    padding-bottom: 3%;
}

#press img { 
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING */

#pricing {
    padding: 6rem;
}

.pricing-column { padding: 3% 2%;}

/* CALL TO ACTION */

#cta { 
    background-color: var(--primary);
    color: white;
}

/* #cta button { margin: 3rem 2rem 0;} */

/* FOOTER */

footer { 
    background-color: white;
    color: var(--ptext);
}

footer i { padding: 1rem;}

/* RESPONSIVE */

@media (max-width : 1028px) {
    .title-image { 
        position: static;
        transform: rotate(0);
    }
    #title { text-align: center;}
    #testimonials img { width: 20%; }
    #testimonials h2 { font-size: 2rem;}
}