@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --charcoal: #264653ff;
    --persian-green: #2a9d8fff;
    --saffron: #e9c46aff;
    --burnt-sienna: #e76f51ff;
    --chili-red: #d7431dff;
    --box-shadow: 6px 6px 6px 1px rgba(0,0,0,0.20);
}

/* globals */
body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--saffron);
    color: #141414;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    text-transform: capitalize;
    font-size: 1.5rem;
}

a { 
    text-decoration: none; 
    color: inherit
}

/* buttons */

.btn {
    background-color: #F5F5F5;
    padding: 1rem;
    border-radius: 12px;
    display: inline-block;
    border: none;
    text-align: center;
    font-size: 0.8rem;
    box-shadow: var(--box-shadow);
}

.btn:hover { background-color: var(--persian-green); }

.btn-cancel { background-color: var(--burnt-sienna); }
.btn-cancel:hover { background-color: var(--chili-red); }

i { margin-left: 1rem; }
.fa-pen:hover { color: var(--persian-green); }
.fa-trash:hover { color: var(--chili-red); }

/* header */
.header {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* main */
main { flex: 1; }

/* post */
.container { margin: 0 3rem; }

.post {
    background-color: #F5F5F5;
    border-radius: 12px;
    padding: 2rem;
    margin-top: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: var(--box-shadow);
}

.header-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* form */
.form { 
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}

input[type='text'], textarea {
    padding: 0.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

input[type='submit'], 
form > .btn-cancel {
    width: 100px;
}

/* footer */
footer { padding: 2rem 0; }

footer p { padding-left: 2rem; }