@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/* variables */
:root {
    /* colors*/
     --white: #fdfdffff;
     --champagne-pink: #eeddd1ff;
     --silverpink: #c7aca1ff;
     --rosy-brown: #b79b8fff;
     --eerie-black: #1c1f21ff;

    /* fonts */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-regular: 400;
    --ff-bold: 600;

    /* sizes */
    --size-bg: 2.5rem;
    --size-md: 2rem;
    --size-sm: 1.25rem;

    /* others */
    --spacing: 0.150rem;
    --transition: all 0.3s ease-in-out;
}

/* basic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 
    background-color: var(--white); 
    font-size: 16px;
    padding: 0 5rem;
    font-family: var(--ff-primary);
}

h1 {
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    color: var(--eerie-black);
    font-weight: var(--ff-bold);
    font-size: var(--size-bg);
    margin: 2rem 0;
}

a { 
    color: var(--eerie-black);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
  
a:hover {
    color: var(--eerie-black);
    text-decoration: none;
}

p {
    font-size: 1rem;
    line-height: 1.75;
}

img {
    display: block;
    width: 100%;
}

/* HEADER */
header { padding: 1.5rem 0; }

/* MAIN SECTION */
main { margin-bottom: 3rem; }

.box-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2rem;
}

.box {
    max-width: 350px;
    max-height: 350px;
    background-color: var(--champagne-pink);
    padding: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-sm);
    
    transition: var(--transition);
}

.box:hover { background-color: var(--white); }

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: top;
}

.box p {
    background-color: var(--eerie-black);
    color: var(--white);
    padding: 0.5rem 0;
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
}

.box:hover { transform: scale(1); }