@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');

/* variables */
:root {
    /* colors*/
    --black:  #393D3F;
    --white: #FDFDFF;
    --secundary-color-1: #62929E;
    --secundary-color-2:#C56C86;

    /* fonts */
    --ff-primary: 'Montserrat', sans-serif;
    --ff-light: 200;
    --ff-regular: 400;
    --ff-bold: 600;
    /* sizes */
    --size-bg: 2.5em;
    --size-md: 2em;
    --size-sm: 1.25em;
    /* others */
    --spacing: 0.150rem;
    --transition: all 0.3s ease-in-out;
}

/* reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--ff-primary);
}

/* basic styles */
body {
    background-color: var(--white); 
    font-size: 16px;
    padding: 0 5em;
}

img {
    display: block;
    width: 100%;
}

a { 
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: var(--spacing);
}
  
a:hover {
    color: var(--black);
    text-decoration: none;
}

h1 { 
    letter-spacing: var(--spacing);
    text-transform: uppercase;
    color: var(--black);
    font-weight: var(--ff-bold);
    font-size: var(--size-bg);
    margin-top: 2rem;
    white-space: wrap;
    text-align: center;
}

p {
    font-size: 1em;
    line-height: 1.75;
}

/* HEADER */
header { padding: 1.5em 0; }

/* MAIN SECTION */
main { margin: 3rem 0; }

.box-container {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 1rem;
}

.box {
   /*  width: 400px;
    max-width: 300px; */
    transition: transform .5s ease-in-out;
    margin: 2rem;
}

.box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: top;
}

.box p {
    background-color: var(--black);
    color: var(--white);
    padding: 0.5em 0;
    width: 100%;
    text-align: center;
    font-size: 1.1em;
}

.box:hover { transform: scale(1); }

@media screen and (max-width:1024px) {
    .box-container {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(2, 1fr); 
    }
}

@media screen and (max-width: 850px) {
    .box-container {
        display: flex;
        flex-direction: column;
    }
}