<%# the css is not loading on this page %>
<%- include('partials/header.ejs')  %>

<header class="header">
    <h1>Edit Post</h1>
</header>

<div class="container">
    <form action="/edit-post?_method=PATCH" method="post" class="form">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" value="<%= post.title %>" readonly>
        <label for="content">Post</label>
        <textarea name="content" id="content" cols="30" rows="10"><%= post.content %></textarea>
        <div>
            <a href="/" class="btn btn-cancel">Cancel</a>
            <input type="submit" value="Edit Post" class="btn">
        </div>
    </form>
</div>

<%- include('partials/footer.ejs')  %>