@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: #009fb7;
    color: #1f1f1f;
    font-family: 'Montserrat', sans-serif;
    padding: 2rem 5rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

h1 {
    font-size: 3rem;
    padding-bottom: 1rem;
}

.container {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

span { 
    display: block;
    font-size: 0.6rem;
}

input[type='text'], input[type='number'] {
    padding: 0.5rem;
    font-family: inherit;
    font-size: inherit;
    border-radius: 5px;
    outline: none;
    margin-left: 1rem;
    border: 1px solid #ccc;
}

select {
    appearance: none;
    background-color: transparent;
    border: 1px solid #ccc;
    padding: 0.5rem;
    outline: none;
    margin-left: 1rem;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

    z-index: 1;

    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

button {
    width: 150px;
    padding: 1rem 0;
    border-radius: 10px;
    border: none;
    background-color: #fed766;
    font-family: inherit;
    font-size: inherit;
}

.holidays-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

article {
    border: 1px solid black;
    padding: 1rem 0.5rem;
    width: 400px;
    border-radius: 10px;
    /* min-width: fit-content; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

h3 { text-align: center; }

.holiday-type {
    text-transform: capitalize;
    font-size: 0.8rem;
}