@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    font-family: 'Libre Baskerville', serif;
    color: white;
    font-size: 16px;
}

.container {
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    text-align: center;
}

h1 {
    margin: 1rem 0;
    text-transform: uppercase;
    font-size: 2.5rem;
}

img {
    width: 100%;
    border: 5px solid white;
}